<header class="header">
  <div class="display--flex align-items--flex-start">
    <%= link_to root_path, class: 'header__site-link' do %>
      <h1 class="header__site-title">BMX4</h1>
    <% end %>

    <h2 class="header__page-title">BMX4</h2>
  </div>
</header>
