<div class="footer print:display--none">
  <div class="footer__left">
    <a href="#">Cookies Policy</a>
    <i class="mr--3 fa-solid fa-horizontal-rule fa-rotate-90"></i>
    <a href="#">Privacy Policy</a>
    <i class="mr--3 fa-solid fa-horizontal-rule fa-rotate-90"></i>
    <a href="#">Terms of Service</a>
    <i class="mr--3 fa-solid fa-horizontal-rule fa-rotate-90"></i>
    <a href="#" target="_blank">About BMX4</a>
    <i class="mr--3 fa-solid fa-horizontal-rule fa-rotate-90"></i>
    <a href="#">Contact Support</a>
  </div>

  <div class="footer__right">
    &copy; <%= current_year %> BMX4 All Rights Reserved.
  </div>
</div>
