<header class="header">
  <nav id="site-navigation" class="main-navigation" role="navigation" data-controller="menu" data-action="click@window->menu#closeOutside">
    <%= link_to templates_engine_path, class: 'header__site-link' do %>
      <h1 class="header__site-title">BMX4</h1>
    <% end %>

    <button class="menu-toggle hamburger hamburger--mobile-only hamburger--spin" type="button" data-action="click->menu#toggleHamburger">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <ul id="primary-menu" class="menu">
      <li class="menu-item">
        <a class="primary-menu__link">Dashboard</a>
      </li>

      <li class="menu-item menu-item--sub">
        <div class="primary-menu__link" data-action="click->menu#toggleSubMenu">
          Multiple Options<i class="menu-item__chevron ml--2 fa-solid fa-sm fa-chevron-down"></i>
        </div>

        <ul class="menu menu--sub">
          <li class="menu-item menu-item--active">
            <a>Option 1</a>
          </li>

          <li class="menu-item">
            <a>Option 2</a>
          </li>
        </ul>
      </li>

      <li class="menu-item hidden--lg-up">
        <a class="primary-menu__link">My Profile</a>
      </li>

      <li class="menu-item hidden--lg-up">
        <a href="#" class="primary-menu__link">Logout</a>
      </li>
    </ul>

    <ul class="menu user-menu">
      <li class="menu-item menu-item--sub">
        <div class="user__name" data-action="click->menu#toggleSubMenu">
          Joe Bloggs<i class="menu-item__chevron ml--2 fa-solid fa-chevron-down"></i>
        </div>

        <ul class="menu menu--sub">
          <li class="menu-item">
            <a>My Profile</a>
          </li>

          <li class="menu-item">
            <a class="#">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
