<div class="mt--8">
  <nav class="pagy nav">
    <a role="link" aria-disabled="true" aria-label="Previous"><i class="fas fa-chevron-left"></i></a>
    <a role="link" aria-disabled="true" aria-current="page" class="current">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#" aria-label="Next"><i class="fas fa-chevron-right"></i></a>
  </nav>
</div>

<div class="mt--8">
  <nav class="pagy nav">
    <a href="#" aria-label="Previous"><i class="fas fa-chevron-left"></i></a>
    <a href="#">1</a>
    <a role="link" aria-disabled="true">..</a>
    <a role="link" aria-disabled="true" aria-current="page" class="current">333</a>
    <a href="#">334</a>
    <a href="#">335</a>
    <a href="#" aria-label="Next"><i class="fas fa-chevron-right"></i></a>
  </nav>
</div>
