<div class="search">
  <input class="search__input <%= local_assigns[:input_classes] %>" type="search" placeholder="<%= local_assigns[:placeholder] %>" autocomplete="off">

  <button type="submit" class="button search__button <%= local_assigns[:button_classes] %>">
    <i class="fa-solid fa-search -font-size--1 mb--1px"></i>
  </button>
</div>
