<div class="form-sidebar">
  <div class="form-sidebar__section">
    <h4 class="page-sidebar__title">6. Multi Uploader</h4>
    <p>Basic multi-uploader example.</p>
  </div>
</div>

<form action="#" class="form-main">
  <div class="form-main__section">
    <div class="form__header">
      <h3 class="form-heading__title">6. Multi Uploader</h3>
      <div class="form__subheading">Basic multi-uploader example.</div>
    </div>

    <div class="form__body">
      <h5 class="form__section-title">Multi Upload</h5>

      <div class="form__inputs">
        <%= render partial: 'templates/base/partials/inputs/multi_uploader', locals: {
          wrapper_classes:'form__input--s2-m4-l12',
          uploader_classes: 'form__input--s2-m2-l6',
          previewer_classes: 'form__input--s2-m2-l6 cocoon-grouped',
          id: 'upload_files',
          button_hint: 'Word, Excel, Powerpoint, PDF, EML, JPEG & PNG up to 50MB',
          button_icon: "<i class='fa-light fa-2x fa-file-plus'></i>".html_safe,
          max_file_size: 10000000,
          label: 'Upload Files',
          uploaded: 5
        } %>
      </div>
    </div>
  </div>
</form>
