<% provide(:title, 'Reset Edit') %>
<% provide(:layout_override, 'devise') %>

<div class="onboarding__modal">
  <div class="onboarding__image"></div>

  <div class="onboarding__body">
    <%= image_tag 'logos/logo_full', class: 'w--10em' %>

    <h3 class="mt--4 mb--0">Change Your Password <span class="emoji emoji-lock-and-key"></span></h3>
    <p class="-font-size--1 font--light line-height--tight">Create a new password for your account.</p>

    <form action="#" class="py--4">
      <div class="form__inputs">
        <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'form__input form__input--s2-m4-l12', id: 'password', label: 'New Password', type: 'password', hint: 'Your password must be at least 8 characters' } %>

        <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'form__input form__input--s2-m4-l12', id: 'confirm_password', label: 'Confirm Password', type: 'password' } %>
      </div>

      <div class="form__actions">
        <%= render partial: 'templates/base/partials/inputs/button', locals: { classes: 'button--wide button--primary', label: 'Change Password' } %>
      </div>
    </form>
  </div>
</div>
