<% provide(:title, 'Password Edit') %>
<% provide(:layout_override, 'devise') %>

<div class="onboarding__modal">
  <div class="onboarding__image"></div>

  <div class="onboarding__body">
    <%= image_tag 'logos/logo_full', class: "w--10em" %>

    <h3 class="mt--4 mb--0">Change Your Password <span class="emoji emoji-lock-and-key"></span></h3>
    <p class="-font-size--1 font--light line-height--tight">Create a new password for your account.</p>

    <form action="#" class="form__inputs px--0 py--4">
      <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'form__input form__input--s2-m4-l12', id: 'password', label: 'New Password', type: 'password' } %>
      <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'form__input form__input--s2-m4-l12', id: 'confirm_password', label: 'Confirm Password', type: 'password' } %>

      <%= render partial: 'templates/base/partials/inputs/button', locals: { wrapper_classes:'form__input form__input--s2-m4-l12 button--primary p--5', id: 'change_password', label: 'Change Password' } %>
    </form>
  </div>
</div>
