<% provide(:title, 'Password New') %>
<% provide(:layout_override, 'devise') %>

<div class="onboarding__modal">
  <div class="onboarding__image"></div>

  <div class="onboarding__body">
    <%= image_tag 'logos/logo_full', class: "w--10em" %>

    <h3 class="mt--4 mb--0">Reset Your Password <span class="emoji emoji-lock-and-key"></span></h3>
    <p class="-font-size--1 font--light line-height--tight">Enter your email, and we'll send you instructions on how to reset your password</p>

    <form action="#" class="form__inputs px--0 py--4">
      <%= render partial: 'templates/base/partials/inputs/string', locals: { wrapper_classes:'form__input form__input--s2-m4-l12', id: 'email', label: 'Email Address' } %>

      <%= render partial: 'templates/base/partials/inputs/button', locals: { wrapper_classes:'form__input form__input--s2-m4-l12 button--primary p--5', id: 'reset', label: 'Send Reset Instructions' } %>
    </form>

    <div class="mt--8 -font-size--1">Remember your password? <a href="#">Log In</a></div>
  </div>
</div>
