<div class="page-container mt--10">
  <div class="display--grid grid-col--6 gap--8">
    <%= link_to 'Go Back Templates Index', templates_engine_path, class: 'button button--info',  data: {
        turbo: true,
        turbo_method: :get,
        turbo_confirm: :go_back_templates_index,
        controller: 'turbo-confirm',
        turbo_confirm_title_value: 'Are you sure you want to go to the Templates Index?',
        turbo_confirm_body_value: 'You will be able to undo this action.',
        turbo_confirm_button_text_value: "Yes, I'm sure",
        turbo_confirm_alert_style_value: "info" } %>

    <%= button_to 'Turbo Confirm', '#', class: 'button button--success', form: {
      data: {
        turbo: true,
        turbo_confirm: :turbo_confirm,
        controller: 'turbo-confirm',
        turbo_confirm_title_value: 'Are you sure you want to open Turbo Confirm?',
        turbo_confirm_body_value: "This action can't be undone",
        turbo_confirm_button_text_value: "Yes, I'm sure",
        turbo_confirm_alert_style_value: "success" } } %>
  </div>
</div>
