<% provide(:title, 'Templates Modal') %>

<div class="modal-screen" data-controller="modal">
  <div class="modal-bg" data-action="click->modal#remove"></div>

  <form class="modal">
    <div class="modal__top">
      <div>
        <h3 class="modal__title">Update End Date</h3>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
      </div>

      <!-- incase we ever want to put something on the RHS -->
      <i class="fas fa-times"></i>
    </div>

    <div class="modal__middle">
      <p>Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister.</p>
      <p>Heh-haa! Super squeaky bum time! I am the Doctor, and you are the Daleks! Father Christmas. Santa Claus. Or as I've always known him: Jeff. <strong> Father Christmas.</strong> <em> Santa Claus.</em> Or as I've always known him: Jeff.</p>
      <p>I'm the Doctor. Well, they call me the Doctor. I don't know why. I call me the Doctor too. I still don't know why.</p>
      <p>Did I mention we have comfy chairs? I hate yogurt. It's just stuff with bits in. Heh-haa! Super squeaky bum time! You hate me; you want to kill me! Well, go on! Kill me! KILL ME! You hit me with a cricket bat.</p>
      <ol>
        <li>I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship.</li>
        <li>I hate yogurt. It's just stuff with bits in.</li>
        <li>Sorry, checking all the water in this area; there's an escaped fish.</li>
      </ol>

      <p>All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? Heh-haa! Super squeaky bum time! Stop talking, brain thinking. Hush. Aw, you're all Mr. Grumpy Face today.</p>
      <ul>
        <li>*Insistently* Bow ties are cool! Come on Amy, I'm a normal bloke, tell me what normal blokes do!</li>
        <li>Sorry, checking all the water in this area; there's an escaped fish.</li>
        <li>Heh-haa! Super squeaky bum time!</li>
      </ul>

      <p>No… It's a thing; it's like a plan, but with more greatness.</p>
    </div>

    <div class="modal__bottom">
      <a class="button button--white button--stroke button--secondary">Close</a>

      <a href="#" class="button ml--5">Confirm Modal</a>
    </div>
  </form>
</div>
