<% provide(:title, 'Templates Typography') %>

<div class="page-container mt--10">
  <%# <p class="font--thin">This is the thin font weight (100), <i>and this is the font weight italic</i></p> %>
  <%# <p class="font--extralight">This is the extralight font weight (200), <i>and this is the font weight italic</i></p> %>
  <p class="font--light">This is the light font weight (300), <i>and this is the font weight italic</i></p>
  <p class="font--normal">This is the normal font weight (400), <i>and this is the font weight italic</i></p>
  <%# <p class="font--medium">This is the medium font weight (500), <i>and this is the font weight italic</i></p> %>
  <p class="font--semibold">This is the semibold font weight (600), <i>and this is the font weight italic</i></p>
  <p class="font--bold">This is the bold font weight (700), <i>and this is the font weight italic</i></p>
  <%# <p class="font--extrabold">This is the extrabold font weight (800), <i>and this is the font weight italic</i></p> %>
  <%# <p class="font--heavy">This is the heavy font weight (900), <i>and this is the font weight italic</i></p> %>

  <h1>All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong?</h1>
  <p>Sorry, checking all the water in this area; there's an escaped fish. Did I mention we have comfy chairs? It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! Saving the world with meals on wheels.</p>
  <p><strong>You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better?</strong> <em> I'm the Doctor, I'm worse than everyone's aunt.</em> *catches himself* And that is not how I'm introducing myself.</p>
  <h2>Aw, you're all Mr. Grumpy Face today.</h2>
  <p>It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! No… It's a thing; it's like a plan, but with more greatness. You've swallowed a planet! You know how I sometimes have really brilliant ideas?</p>
  <ol>
    <li>You hit me with a cricket bat.</li><li>I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship.</li><li>It's a fez. I wear a fez now. Fezes are cool.</li>
  </ol>

  <h3>It's a fez. I wear a fez now. Fezes are cool.</h3>
  <p>All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister.</p>
  <ul>
    <li>It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'!</li><li>Did I mention we have comfy chairs?</li><li>You hit me with a cricket bat.</li>
  </ul>

  <p>I hate yogurt. It's just stuff with bits in. They're not aliens, they're Earth…liens! *Insistently* Bow ties are cool! Come on Amy, I'm a normal bloke, tell me what normal blokes do! I'm the Doctor. Well, they call me the Doctor. I don't know why. I call me the Doctor too. I still don't know why.</p>
  <p>Aw, you're all Mr. Grumpy Face today. Sorry, checking all the water in this area; there's an escaped fish. No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister.</p>
  <p>It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! You know how I sometimes have really brilliant ideas? Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you?</p>
  <p>Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you? No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister.</p>
  <p>Father Christmas. Santa Claus. Or as I've always known him: Jeff. Saving the world with meals on wheels. Heh-haa! Super squeaky bum time! The way I see it, every life is a pile of good things and bad things.…hey.…the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant.</p>
  <p>Stop talking, brain thinking. Hush. Saving the world with meals on wheels. The way I see it, every life is a pile of good things and bad things.…hey.…the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant.</p>
  <p>Heh-haa! Super squeaky bum time! I am the last of my species, and I know how that weighs on the heart so don't lie to me! Stop talking, brain thinking. Hush. You hate me; you want to kill me! Well, go on! Kill me! KILL ME!</p>
  <p>I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship. Saving the world with meals on wheels. It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'!</p>
  <p>Did I mention we have comfy chairs? Sorry, checking all the water in this area; there's an escaped fish. No… It's a thing; it's like a plan, but with more greatness. You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better?</p>
  <p>You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better? Father Christmas. Santa Claus. Or as I've always known him: Jeff. I hate yogurt. It's just stuff with bits in.</p>
  <p>Stop talking, brain thinking. Hush. The way I see it, every life is a pile of good things and bad things.…hey.…the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant.</p>

  <p class="form__hint">Ps. This is a hint, the above is from <a href="http://fillerama.io/">Fillerama</a>, Doctor Who.</p>
</div>
