.callout {
  background-color: $background-color-lightest;
  border-radius: $br-5px;
  border: $border-base;
  display: flex;
  padding: $spacing-5;
}

$basic-callout-colors: (
  'primary-brand' $primary-brand-color-50 $primary-brand-color-400,
  'secondary-brand' $secondary-brand-color-50 $secondary-brand-color-400,
  'red' $red-50 $red-500,
  'orange' $orange-50 $orange-400,
  'yellow' $yellow-50 $yellow-500,
  'green' $green-50 $green-500,
  'blue' $blue-50 $blue-400,
  'purple' $purple-50 $purple-400,
  'grey' $grey-50 $grey-400,
  'light' $background-color-light $background-color-dark,
  'success' $green-50 $green-500,
  'warning' $yellow-50 $yellow-500,
  'danger' $red-50 $red-500,
  'info' $blue-50 $blue-400
);

$all-callout-colors: list-combine($basic-callout-colors);

@each $modifier, $bg, $color in $all-callout-colors {
  .callout--#{$modifier} {
    background-color: $bg;
    border-color: $color;
    color: $color;
  }
}

.callout__text {
  margin-top: 1px;
  font-size: modular-scale(-1);
}

.callout--action {
  align-items: center;

  .callout__text {
    margin-top: 0;
    margin-bottom: 2px;
  }
}
