[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  background-color: $background-color-dark;
  border-radius: $br-5px;
  color: $font-color-lightest;
  font-weight: $fw-normal;
  letter-spacing: 0;
  outline: 0;
  position: relative;
  text-transform: none;
  transition-property: transform, visibility, opacity;
  white-space: initial;

  &[data-placement^='top'] > .tippy-arrow {
    bottom: 0;

    &::before {
      bottom: -7px;
      left: 0;
      border-width: 8px 8px 0;
      border-top-color: initial;
      transform-origin: center top;
    }
  }

  &[data-placement^='bottom'] > .tippy-arrow {
    top: 0;

    &::before {
      top: -7px;
      left: 0;
      border-width: 0 8px 8px;
      border-bottom-color: initial;
      transform-origin: center bottom;
    }
  }

  &[data-placement^='left'] > .tippy-arrow {
    right: 0;

    &::before {
      border-width: 8px 0 8px 8px;
      border-left-color: initial;
      right: -7px;
      transform-origin: center left;
    }
  }

  &[data-placement^='right'] > .tippy-arrow {
    left: 0;

    &::before {
      left: -7px;
      border-width: 8px 8px 8px 0;
      border-right-color: initial;
      transform-origin: center right;
    }
  }

  &[data-inertia][data-state='visible'] {
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
  }

  &[data-animation='fade'][data-state='hidden'] {
    opacity: 0;
  }
}

.tippy-arrow {
  $arrow-size: 16px;

  & {
    width: $arrow-size;
    height: $arrow-size;
    color: $background-color-dark;
  }

  &::before {
    content: '';
    position: absolute;
    border-color: transparent;
    border-style: solid;
  }
}

.tippy-content {
  position: relative;
  padding: $spacing-3 $spacing-4;
  z-index: 1;
}
