.show-when-busy {
  display: none;

  &.display--flex {
    display: none;
  }
}

// when a turbo request is happening from within a turbo-frame, that turbo frames add a busy attribute to itself to indicate a request is being made
// when the request is done and the frame reloaded, the attribute is gone
turbo-frame[busy] {
  .show-when-busy {
    display: block;
  }

  .show-when-busy.display--flex {
    display: flex;
  }

  .hide-when-busy,
  .hide-when-busy.display--flex {
    display: none;
  }
}
