// Grid

$grid-gap: $spacing-6;

$grid-screen-sizes: (
  s: 0px,
  m: $medium-screen,
  l: $large-screen,
);

@each $key, $var in $grid-screen-sizes {
  @for $i from 1 through 12 {
    .grid--#{$key}#{$i},
    %grid--#{$key}#{$i} {
      display: grid;
      grid-gap: $grid-gap;

      @include breakpoint-up($var) {
        grid-template-columns: repeat($i, minmax(0, 1fr));
      }
    }

    // to be used to make more complex styles, not as a replacement for the utilities
    // %col--s4, %col--m8, %col--l12
    %col--#{$key}#{$i} {
      @include breakpoint-up($var) {
        grid-column: auto / span $i;
      }
    }

    // to be used to make more complex styles, not as a replacement for the utilities
    %col-end--#{$key}#{$i} {
      @include breakpoint-up($var) {
        grid-column-end: span $i;
      }
    }
  }
}

.grid--s2 {
  @extend %grid--s2;
}

.grid--s2-m4,
%grid--s2-m4 {
  @extend %grid--s2, %grid--m4;
}

.grid--s2-m4-l12,
%grid--s2-m4-l12 {
  @extend %grid--s2, %grid--m4, %grid--l12;
}

.grid--s2-m6-l12,
%grid--s2-m6-l12 {
  @extend %grid--s2, %grid--m6, %grid--l12;
}

.grid--s2-l12,
%grid--s2-l12 {
  @extend %grid--s2, %grid--l12;
}
