@each $prop in $norm-min-max {  
  @each $key, $var in $spaces {
    // Spacings
    // min-h--20, max-h--12

    .#{$prop}h--#{$key} {
      #{$prop}height: $var;
    }

    // Spacings breakpoints
    // sm:min-h--20, xl:max-h--12, md:max-h--1

    @include breakpoint-all-sizes("#{$prop}h--#{$key}") {
      #{$prop}height: $var;
    }
  }

  @for $i from 1 through 100 {
    // Units
    // min-h--1em, min-h--1px, min-h--1pc

    .#{$prop}h--#{$i}em {
      #{$prop}height: #{$i + 'em'};
    }

    .#{$prop}h--#{$i}px {
      #{$prop}height: #{$i + 'px'};
    }

    .#{$prop}h--#{$i}pc {
      #{$prop}height: round(percentage($i * 0.01));
    }

    // Units breakpoints
    // sm:min-h--100em, md:min-h--10px, lg:min-h--5pc

    @include breakpoint-all-sizes("#{$prop}h--#{$i}em") {
      #{$prop}height: #{$i + 'em'};
    }

    @include breakpoint-all-sizes("#{$prop}h--#{$i}px") {
      #{$prop}height: #{$i + 'px'};
    }

    @include breakpoint-all-sizes("#{$prop}h--#{$i}pc") {
      #{$prop}height: round(percentage($i * 0.01));
    }
  }
}

.h--auto {
  height: auto;
}

.min-h--none {
  min-height: 0;
}

.max-h--none {
  max-height: none;
}

// Height auto breakpoints
// xl:h--auto, md:h--auto

@include breakpoint-all-sizes("h--auto") {
  height: auto;
}

// Min height none breakbpoints
// sm:min-h--none, lg:min-h--none

@include breakpoint-all-sizes("min-h--none") {
  min-height: 0;
}

// Max height none breakpoints
// xl:max-h--none, sm:max-h--none

@include breakpoint-all-sizes("max-h--none") {
  max-height: none;
}