@use "sass:math";

// Cursor
// cursor--auto, cursor--progress

$cursors: auto, default, pointer, wait, text, move, help, not-allowed, progress, none, grab, grabbing, nwse-resize, zoom-in, zoom-out;

@each $key in $cursors {
  .cursor--#{$key} {
    cursor: $key;
  }
}

.cursor--no-action {
  pointer-events: none;
}

// Opacity
// opacity--0, opacity--100, opacity--25

@for $i from 0 through 100 {
  .opacity--#{$i} {
    opacity: math.round(math.percentage($i * 0.01));
  }
}

// Z-Index
// z--0, z--6, z--4

@each $key, $var in $z-indexes {
  .z--#{$key} {
    z-index: $var;
  }
}

.z--auto {
  z-index: auto;
}

// Resize

$resizings: (
  resize-none: none,
  resize-y: vertical,
  resize-x: horizontal,
  resize: both,
);

@each $key, $var in $resizings {
  .#{$key} {
    resize: $var;
  }
}

// Outline

$default-outline: 2px;

$outlines: (
  'white': $white,
  'black': $black,
  primary: $primary-color,
);

// outline--white, outline--primary

@each $key, $var in $outlines {
  .outline--#{$key} {
    outline: $default-outline solid $var;
    outline-offset: $default-outline;
  }
}

.outline--none {
  outline: none;
}

// List Items
// li--none, li--decimal

$list-items: none, disc, decimal;

@each $key in $list-items {
  .li--#{$key} {
    list-style-type: $key;
  }
}

// List Position
// li--inside, li--outside

$list-positions: inside, outside;

@each $key in $list-positions {
  .li--#{$key} {
    list-style-position: $key;
  }
}

// Tables
// table--auto, table--fixed

$tables: auto, fixed;

@each $key in $tables {
  .table--#{$key} {
    table-layout: $key;
  }
}

// Whitespace
// whitespace--normal, whitespace--pre

$whitespaces: normal, nowrap, pre, pre-line, pre-wrap;

@each $key in $whitespaces {
  .whitespace--#{$key} {
    white-space: $key;
  }
}
