$overflows: auto, visible, hidden, clip, scroll;

@each $key in $overflows {
  // Overflow
  // overflow--auto, overflow-x--hidden, overflow-y--scroll
  
  .overflow--#{$key} {
    overflow: $key;
  }

  .overflow-x--#{$key} {
    overflow-x: $key;
  }

  .overflow-y--#{$key} {
    overflow-y: $key;
  }

  // Overflow breakpoints
  // overflow--auto, overflow-x--hidden, overflow-y--scroll
  
  @include breakpoint-all-sizes("overflow--#{$key}") {
    overflow: $key;
  }

  @include breakpoint-all-sizes("overflow-x--#{$key}") {
    overflow-x: $key;
  }

  @include breakpoint-all-sizes("overflow-y--#{$key}") {
    overflow-y: $key;
  }
}

$overscrolls: auto, contain, none;

@each $key in $overscrolls {
  // Overscroll
  // overscroll--auto, overscroll-x--none, overscroll-y--contain
  
  .overscroll--#{$key} {
    overscroll-behavior: $key;
  }

  .overscroll-x--#{$key} {
    overscroll-behavior-x: $key;
  }

  .overscroll-y--#{$key} {
    overscroll-behavior-y: $key;
  }

  // Overscroll breakpoints
  // md:overscroll--auto, lg:overscroll-x--contain, sm:overscroll-y--none
  
  @include breakpoint-all-sizes("overscroll--#{$key}") {
    overscroll-behavior: $key;
  }

  @include breakpoint-all-sizes("overscroll-x--#{$key}") {
    overscroll-behavior-x: $key;
  }

  @include breakpoint-all-sizes("overscroll-y--#{$key}") {
    overscroll-behavior-y: $key;
  }
}
