$padding-props: (
  p: padding,
  pt: padding-top,
  pb: padding-bottom,
  pr: padding-right,
  pl: padding-left,
);

@each $name, $prop in $padding-props {
  @each $key, $var in $spaces {
    // Spacings
    // p--2, pb--10, pl--8

    .#{$name}--#{$key} {
      #{$prop}: $var;
    }

    // Spacings breakpoints
    // md:p--20, lg:pt--10, sm:pb--4

    @include breakpoint-all-sizes("#{$name}--#{$key}") {
      #{$prop}: $var;
    }
  }

  @for $i from 1 through 10 {
    // Units
    // p--6px, pt--8px, pr--4px

    .#{$name}--#{$i}px {
      #{$prop}: #{$i + 'px'};
    }

    // Units breakpoints
    // md:p--1px, lg:ml--8px, sm:mr--10px

    @include breakpoint-all-sizes("#{$name}--#{$i}px") {
      #{$prop}: #{$i + 'px'};
    }
  }
}

// Padding Pairs

$padding-prop-pairs: py padding-top padding-bottom, px padding-right padding-left;

@each $name, $prop1, $prop2 in $padding-prop-pairs {
  @each $key, $var in $spaces {
    // Spacings
    // py--2, px--10

    .#{$name}--#{$key} {
      #{$prop1}: $var;
      #{$prop2}: $var;
    }

    // Spacings breakpoints
    // md:py--2, sm:px--10, lg:px--1

    @include breakpoint-all-sizes("#{$name}--#{$key}") {
      #{$prop1}: $var;
      #{$prop2}: $var;
    }
  }

  @for $i from 1 through 10 {
    // Units
    // py--8px, px--4px

    .#{$name}--#{$i}px {
      #{$prop1}: #{$i + 'px'};
      #{$prop2}: #{$i + 'px'};
    }

    // Units breakpoints
    // md:py--8px, xl:px--2px, sm:py--9px

    @include breakpoint-all-sizes("#{$name}--#{$i}px") {
      #{$prop1}: #{$i + 'px'};
      #{$prop2}: #{$i + 'px'};
    }
  }
}
