$shadow-props: none, inset, initial;

// shadow--none, shadow--initial

@each $key in $shadow-props {
  .shadow--#{$key} {
    box-shadow: $key;
  }
}

// shadow--1, shadow--6, shadow--outline

@each $key, $var in $shadows {
  .shadow--#{$key} {
    box-shadow: $var;
  }
}
