// Text Style & Decoration

.text--italic {
  font-style: italic;
}

.text--underline {
  text-decoration: underline;
}

.text--line-through {
  text-decoration: line-through;
}

.text--normal {
  font-style: normal;
  text-decoration: none;
}

// Text Alignment
// text--center, text--justify

$text-aligns: left, right, center, justify;

@each $key in $text-aligns {
  .text--#{$key} {
    text-align: $key;
  }
}

// Text Transform
// text--uppercase, text--capitalize

$text-transforms: uppercase, lowercase, capitalize, none;

@each $key in $text-transforms {
  .text--#{$key} {
    text-transform: $key;
  }
}

// Text Indent
// indent--10, indent--16, indent--1

@each $key, $var in $spaces {
  .indent--#{$key} {
    text-indent: $var;
  }
}

// indent--10px, indent--2px, indent--0px

@for $i from 0 through 10 {
  .indent--#{$i}px {
    text-indent: #{$i + 'px'};
  }
}

// Line Clamp
// line-clamp--10, line-clamp--0, line-clamp--9

@for $i from 0 through 10 {
  .line-clamp--#{$i} {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $i;
  }
}

// Word Break
// break-before--all, break-after--auto, break-before--left

$breaks: auto, avoid, all, avoid-page, page, left, right, column;

@each $key in $breaks {
  .break-before--#{$key} {
    break-before: $key;
  }

  .break-after--#{$key} {
    break-after: $key;
  }
}

$inside-breaks: auto, avoid, avoid-page, avoid-column;

// break-inside--auto, break-inside--avoid-column, break-inside--avoid

@each $key in $inside-breaks {
  .break-inside--#{$key} {
    break-inside: $key;
  }
}

.break--normal {
  word-break: normal;
  overflow-wrap: normal;
}

.break--words {
  overflow-wrap: break-word;
}

.break--all {
  word-break: break-all;
}

.text--hyphenate {
  @extend %hyphenate;
}

.text--no-hyphenate {
  hyphens: none;
}

.text--truncate {
  @extend %truncate;
}
