@use "sass:math";

// Transition Properties
// transition--margin, transition--all, transition--text-indent

$transition-props: all, none, height, min-height, max-height, width, min-width, max-width, color, background-color, border-color, box-shadow, transform, opacity, margin, padding, bottom, top, left,
  right, font-size, line-height, outline, text-indent;

@each $key in $transition-props {
  .transition--#{$key} {
    transition-property: $key;
    will-change: $key;
  }
}

// Transition Timing
// linear, ease, ease-in-out

$transition-timings: linear, ease, ease-in, ease-out, ease-in-out;

@each $key in $transition-timings {
  .#{$key} {
    transition-timing-function: $key;
  }
}

// Transition Duration & Delay
// duration--0, duration--2000, delay--1000
// 20 * 50ms = 1000ms = 1s

@for $i from 0 through 40 {
  $j: #{$i * 50};

  .duration--#{$j} {
    transition-duration: #{$j + 'ms'};
  }

  .delay--#{$j} {
    transition-delay: #{$j + 'ms'};
  }
}

// Transforms

* {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
}

.transform {
  transform: 
    translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y))
    rotate(var(--transform-rotate))
    skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
    scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y)) !important;
}

$transform-axis: x, y;

// Origin
// origin--bottom-right, origin--center, origin--left

@each $key, $var in $position-directions {
  .origin--#{$key} {
    transform-origin: $var;
  }
}

// Translate

@each $key in $transform-axis {
  @for $i from 1 through 100 {
    // Positive
    // translate-y--100em, translate-x--70px, translate-x--1pc

    .translate-#{$key}--#{$i}em {
      --transform-translate-#{$key}: #{$i + 'em'};
    }

    .translate-#{$key}--#{$i}px {
      --transform-translate-#{$key}: #{$i + 'px'};
    }

    .translate-#{$key}--#{$i}pc {
      --transform-translate-#{$key}: #{math.round(math.percentage($i * 0.01))};
    }

    // Negative
    // -translate-y--10em, -translate-y--7px, -translate-x--40pc

    .-translate-#{$key}--#{$i}em {
      --transform-translate-#{$key}: #{-$i + 'em'};
    }

    .-translate-#{$key}--#{$i}px {
      --transform-translate-#{$key}: #{-$i + 'px'};
    }

    .-translate-#{$key}--#{$i}pc {
      --transform-translate-#{$key}: #{math.round(math.percentage(-$i * 0.01))};
    }
  }
}

// Rotate
// rotate--360, -rotate--90, -rotate--15

@for $i from 0 through 24 {
  $j: #{$i * 15};

  .rotate--#{$j} {
    --transform-rotate: #{$j + 'deg'};
  }

  .-rotate--#{$j} {
    --transform-rotate: #{-$j + 'deg'};
  }
}

// Scale
// scale-x--100, scale-y--10, -scale-y--200

@each $key in $transform-axis {
  @for $i from 0 through 200 {
    .scale-#{$key}--#{$i} {
      --transform-scale-#{$key}: #{$i * 0.01};
    }

    .-scale-#{$key}--#{$i} {
      --transform-scale-#{$key}: #{-$i * 0.01};
    }
  }
}

// Will-Change
// will-change--contents, will-change--auto

$will-changes: auto, scroll-position, contents;

@each $key in $will-changes {
  .will-change--#{$key} {
    will-change: $key;
  }
}
