//Misselaneous element styles
//<b> and, <strong> tags are in normalize.

address,
cite,
dfn,
em,
i,
var {
  font-style: italic;
}

del,
s,
strike {
  text-decoration: line-through;
}

ins,
u {
  text-decoration: underline;
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

big {
  font-size: modular-scale(2);
}

small {
  font-size: modular-scale(-1);
}

img,
picture {
  height: auto;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

blockquote,
q {
  font-family: $font-family-base;
}

blockquote {
  border-left: $bw-5px solid $primary-color;
  margin-left: 0;
  padding-left: $spacing-6;

  p {
    font-size: modular-scale(1);
  }

  cite {
    display: block;
    font-size: modular-scale(-1);
    margin-top: $spacing-4;
  }
}

hr {
  border-bottom: $border-light;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $spacing-3 0;
}

pre {
  background: $background-color-lighter;
  max-width: 100%;
  overflow: auto;
  padding: $spacing-3;
}

embed,
iframe,
object {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $white;
}

ol,
ul {
  list-style-position: outside;
  margin-bottom: $spacing-2;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li > ol,
li > ul {
  margin-bottom: $spacing-1;
}

dl {
  margin-bottom: $spacing-1;

  dt {
    font-weight: $fw-bold;
    margin-top: $spacing-1;
  }

  dd {
    margin: 0;
  }
}
