// a function to combine multiple mappings of variables into a single mapping
// a mapping is similar to a hash, where there is a key and a value
// if extra styles are needed they can be defined in project_specific.scss and combined with the basic colour maps in relevant files
// $all-style-map: map-combine($basic-style-map, $extra-style-map)
@function map-combine($maps...) {
  $collection: ();

  // map-merge combines two maps together into a single map
  // this new mapping is then merged with each of the next key-value pairings in the map
  @each $mapping in $maps {
    $collection: map-merge($collection, $mapping);
  }

  @return $collection;
}

// a function to combine multiple lists of variables into a single list
// a list is similar to an array, there are now keys, just items within the lists
// if extra styles are needed they can be defined in project_specific.scss and combined with the basic colour lists in relevant files
// $all-style-list: list-combine($basic-style-list, $extra-style-list)
@function list-combine($lists...) {
  $collection: ();

  // join combines two lists together into a single list
  // this new list is then merged with each item in the next list
  @each $list in $lists {
    $collection: join($collection, $list);
  }

  @return $collection;
}
