table {
  background-color: $background-color-lighter;
  border-collapse: collapse;
  border-radius: $br-5px;
  box-shadow: $shadow-2;
  font-feature-settings: 'kern', 'liga', 'tnum';
  font-size: modular-scale(-1);
  font-variant-numeric: tabular-nums;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;

  @include breakpoint-up($medium-screen) {
    font-size: modular-scale(0);
  }
}

tr,
th,
td {
  vertical-align: middle;

  a {
    cursor: pointer;
  }
}

tr {
  background-color: $background-color-lightest;
  color: $font-color-darker;

  &:nth-child(odd) {
    background-color: $background-color-lighter;
  }

  & + tr {
    border-top: $border-base;
  }
}

th {
  background-color: $background-color-lightest;
  border-bottom: $border-base;
  color: $font-color-base;
  font-size: modular-scale(-1);
  font-weight: $fw-semibold;
  line-height: $leading-tighter;
  padding: ($spacing-6 - $spacing-1) $spacing-4 $spacing-5 $spacing-4;
  text-align: left;

  @include breakpoint-up($medium-screen) {
    padding: ($spacing-6 - $spacing-1) $spacing-6 $spacing-5 $spacing-6;
  }

  a {
    color: $font-color-base;

    &:hover {
      color: $primary-color-dark;
    }
  }
}

td {
  color: $font-color-base;
  hyphens: auto;
  overflow-wrap: break-word;
  padding: $spacing-4;
  white-space: normal;
  word-wrap: break-word;

  @include breakpoint-up($medium-screen) {
    padding: $spacing-4 $spacing-6;
  }
}

.td--fallback {
  font-size: $font-size-base;
  padding-bottom: $spacing-6;
  padding-top: $spacing-6;
  text-align: center;
}

// to be used when a table cell contains only a link (in conjunction with .link--cell on the a tag)
.cell--link {
  font-size: modular-scale(1);
  padding: $spacing-0;

  @include breakpoint-up($large-screen) {
    font-size: modular-scale(0);
  }
}

.cell--stacked {
  color: $font-color-light;
  display: block;
  font-size: modular-scale(-1);
}

thead .cell--stacked {
  font-weight: $fw-normal;
}

tbody .cell--stacked {
  font-weight: $fw-light;
}
