h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %hyphenate;

  color: $font-color-darker;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $leading-normal;
  margin: $spacing-6 0 $spacing-3;
}

h6 {
  font-size: modular-scale(0);
  text-transform: uppercase;
}

h5 {
  font-size: modular-scale(1);
}

h4 {
  font-size: modular-scale(2);
}

h3 {
  font-size: modular-scale(3);
}

h2 {
  font-size: modular-scale(4);
}

h1 {
  font-size: modular-scale(5);
}

p {
  margin: 0 0 $spacing-2;
}
