<% provide(:title, 'My Profile') %>

<div class="page__header">
  <div class="page__heading page__heading--actions">
    <div class="heading__main">
      <h2 class="heading__title">My Profile</h2>
    </div>
  </div>
</div>

<%= render 'accounts/registrations/partials/personal' %>
<%= render 'accounts/registrations/partials/password' %>
