.footer {
  @extend %contain;

  color: $font-color-light;
  margin-top: $spacing-7;
  padding-top: $spacing-2;
  padding-bottom: $spacing-4;
  text-align: center;

  @include breakpoint-up($large-screen) {
    display: flex;
    padding-top: 0;
    padding-bottom: $spacing-8;
    justify-content: space-between;
  }
}

.footer__left {
  @include breakpoint-up($large-screen) {
    margin-right: $spacing-4;
  }
}

.footer__left,
.footer__right {
  display: flex;
  font-size: modular-scale(-1);
  flex-direction: column;

  i {
    display: none;
  }

  @include breakpoint-up($large-screen) {
    flex-direction: row;

    i {
      display: inline-block;
    }
  }

  a {
    color: $font-color-light;
    cursor: pointer;
    display: inline-block;

    &:hover {
      color: $font-color-base;
    }
  }
}
