$header-image-size: 4rem;

.header {
  background-color: $background-color-lightest;
  border-bottom: $border-base;
  color: $font-color-base;
  position: sticky;
  top: 0;
  z-index: $z-index-4;

  @include breakpoint-up($medium-screen) {
    position: static;
  }
}

.header__heading {
  align-items: flex-start;
  display: flex;
}

// Main Navigation

.main-navigation {
  @extend %contain;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// Site Link

.header__site-link {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  padding: 0;
  min-height: $header-image-size;
}

.header__site-title {
  background-image: url('logos/logo_icon.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  cursor: pointer;
  margin: 0 0 0 -1rem; // margin-left can vary depending on logos internal padding
  overflow: hidden;
  text-indent: -101%;
  white-space: nowrap;
  min-width: $header-image-size; // can vary depending on logo/title width
}

//  Page Title

.header__page-title {
  line-height: $leading-none;
  margin: 0;
}
