.page__header {
  background-color: $background-color-lightest;
  border-bottom: $border-base;
  padding: 0;
}

.page__breadcrumbs {
  @extend %contain;

  color: $font-color-light;
  font-size: modular-scale(-2);
  padding-bottom: $spacing-5;
  padding-top: $spacing-5;

  span {
    a {
      @extend .link, .link--light;
    }
  }
}

.page__heading {
  @extend %contain;

  display: flex;
  flex-direction: column;
  padding-bottom: $spacing-5;
  padding-top: $spacing-5;
}

.page__heading--actions {
  gap: $spacing-6;

  @include breakpoint-up($medium-screen) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.heading__title {
  margin: 0;

  @include breakpoint-up($medium-screen) {
    align-items: center;
    display: flex;
  }
}

.heading__subtitle {
  display: flex;
  gap: $spacing-6;
  justify-content: space-between;
}