// Form Colours

$form-bg: $background-color-lightest;

$form-active-color: $primary-brand-color;
$form-active-color-dark: $primary-brand-color-dark;
$form-inactive-color: $grey-300;
$form-hover-color: $grey-500;
$form-focus-color: $grey-500;
$form-disabled-color: $grey-200;
$form-disabled-active-color: $grey-400;

$form-border: $default-bw solid $form-inactive-color;

@import 'basic_forms';
@import 'buttons';
@import 'cocoon';
@import 'symbols';
@import 'selects';
@import 'indicators';
@import 'toggles';
@import 'sliders';
@import 'ranges';
@import 'custom_trix';
@import 'uploads';
@import 'progress_bar';
