$base-progress: 0.5em;

.progress {
  background-color: $background-color-lighter;
  border-radius: $base-progress * 0.5;
  height: $base-progress;
  overflow: hidden;
  width: 100%;
}

.progress-bar {
  @include transition(background-color, width, max-width);

  background-color: $form-active-color-dark;
  height: 100%;
  max-width: 98%;
  width: 0;
}

.progress-bar--complete {
  background-color: $form-active-color;
  max-width: none;
  width: 100%;
}
