@use "sass:math";

.slider_radios {
  .input-field {
    display: flex;
    flex-wrap: wrap;

    label {
      @include transition(background-color, color, border-color);

      align-items: center;
      background-color: $background-color-lightest;
      border-top: $form-border;
      border-bottom: $form-border;
      color: $font-color-base;
      cursor: pointer;
      display: flex;
      font-size: $font-size-base;
      height: 100%;
      line-height: math.ceil($leading-tighter * $font-size-base);
      margin: 0;
      padding: $spacing-3 $spacing-5 + $spacing-2;
      text-align: center;
      width: 100%;
      justify-content: center;

      &:hover {
        background-color: $background-color-light;
      }
    }

    .radio {
      flex: 1 1;

      label {
        border-right: $border-light;
      }

      &:first-of-type {
        label {
          border-left: $border-light;
          border-radius: $br-5px 0 0 $br-5px;
        }
      }

      &:last-of-type {
        label {
          border-radius: 0 $br-5px $br-5px 0;
        }
      }

      input[type='radio'] {
        display: none;

        &:checked + label {
          color: $font-color-lightest;
          background-color: $form-active-color;
          border-color: $form-active-color;
        }
      }

      &.disabled input[type='radio'],
      input[type='radio'][disabled] {
        + label {
          cursor: not-allowed;

          &:hover {
            background-color: $background-color-lightest;
          }
        }

        &:checked + label {
          background-color: $form-disabled-active-color;
          border-color: $form-disabled-active-color;
        }
      }
    }
  }

  &.field--errors .input-field,
  &.field--errors .input-field .radio {
    label {
      border-color: $danger;
    }
  }
}
