// makes the button fill as much of the row as it can when multi-line
[data-controller='upload'] {
  display: flex;
  flex-direction: column;

  .existing-file__new:not(.display--none) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .uppy-input {
      flex-grow: 1; // to grow and fill but leave space for the the progress container

      .uppy-Root {
        height: 100%;

        .uppy-FileInput-container {
          height: 100%;

          .uppy-FileInput-btn {
            height: 100%;
          }
        }
      }
    }
  }
}

.existing-file__new .uppy-FileInput-btn,
button.uppy-DragDrop-container {
  align-items: center;
  background-color: $background-color-lighter;
  border: $form-border;
  border-style: dashed;
  border-radius: $br-5px;
  color: $font-color-darker;
  display: flex;
  flex-direction: column;
  font-weight: $fw-normal;
  justify-content: center;
  min-height: $spacing-20;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $background-color-light;
    border-color: $form-hover-color;
    color: $font-color-darkest;
  }
}

.uppy-input--onDragOver {
  .existing-file__new .uppy-FileInput-btn,
  button.uppy-DragDrop-container {
    background-color: $grey-100;
    border-color: $form-hover-color;
    color: $font-color-darkest;
  }
}

.existing-file {
  .display--none {
    display: block;
  }

  .existing-file__new {
    display: none;
  }
}

.existing-file__progress {
  align-items: center;
  background-color: rgba($background-color-light, 0.25);
  border-radius: $br-5px;
  color: $secondary-color-dark;
  display: flex;
  flex-direction: column;
  padding: $spacing-4;
}

.existing-file__preview {
  background-color: $background-color-lightest;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex: 0 0 10em;
  height: 6em;
  margin-right: $spacing-4;
  width: 10em;
}

.existing-file-preview__icon {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.existing-file__details {
  margin: auto 0;
  min-width: 0;

  @include breakpoint-down($medium-screen) {
    max-width: 45vw;
  }
}

.existing-file__toggle {
  color: $font-color-base;
  cursor: pointer;
  font-size: modular-scale(-1);
  font-style: italic;

  &:hover {
    color: $font-color-darker;
  }
}

.existing-file__divider {
  color: $bc-secondary;
  margin: 0 $spacing-3;
}

.existing-file__download {
  @extend .link, .link--info;

  font-size: modular-scale(-1);
  font-style: italic;
}

[data-controller='upload'],
[data-controller='multi-upload'] {
  &.field--errors {
    .uppy-FileInput-btn,
    .uppy-DragDrop-container {
      border-color: $danger;

      &:hover {
        border-color: $danger;
      }
    }
  }

  &.disabled {
    .uppy-FileInput-btn,
    .uppy-DragDrop-container {
      color: $font-color-dark;
      background-color: $form-disabled-color;
      pointer-events: none;

      &:hover {
        color: $font-color-dark;
        background-color: $form-disabled-color;
      }
    }

    .existing-file__toggle,
    .existing-file__divider,
    .existing-file__download {
      pointer-events: none;
      display: none;
    }
  }
}

.uppy-Informer-errors .uppy-Informer-animated {
  @extend .form__hint, .form__hint--error;

  p {
    margin-bottom: $spacing-1;
  }

  // the tooltip icon
  span {
    background-color: $danger;
    border-radius: $br-2px;
    color: $font-color-lightest;
    cursor: pointer;
    font-style: normal;
    padding: 0 0.4em; // custom amounts to make the tooltip appear as a square
    font-weight: $fw-bold;
    line-height: $spacing-0;
    margin-left: $spacing-3;
  }
}

// multiple files upload

[data-controller='single-upload'] button,
[data-controller='multi-upload'] button {
  .uppy-c-icon {
    display: none;
  }
  .uppy-DragDrop-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
  }

  .uppy-DragDrop-label {
    font-size: modular-scale(0);
    font-weight: $fw-normal;
  }

  .uppy-DragDrop-note {
    color: $font-color-light;
    font-size: modular-scale(-1);

    &:empty {
      display: none;
    }
  }
}
