.table-button {
  th,
  td {
    border: none;
    padding: 0;
  }
}

.td-button {
  background-color: $primary-color;
  border-radius: $br-5px;
  font-family: $email-font-family;
}

.button,
a.button {
  @include transition(background-color, border-color, color);

  background-color: $primary-color;
  border: $border-primary;
  border-radius: $br-5px;
  color: $font-color-lightest;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $fw-bold;
  flex: 0 0 auto;
  letter-spacing: $tracking-tight;
  line-height: $leading-none;
  margin: 0;
  overflow: hidden;
  padding: $spacing-3 $spacing-4;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  vertical-align: middle;
  white-space: normal;

  &:active,
  &:focus,
  &:hover {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
    color: $font-color-lightest;
  }
}

.button--success,
a.button--success {
  background-color: $success;
  border: $bw-2px solid $success;
  color: $white;
}

.button--stroke,
a.button--stroke {
  background-color: transparent;
  border: $bw-2px solid $primary-color;
  color: $primary-color;
}

.button--small,
a.button--small {
  font-size: modular-scale(-1);
  padding: $spacing-2 $spacing-3;
}
