<div class="hero">
  <div class="hero__filter">
    <div class="hero__content">
      <h1 class="hero__title">Engenharia de Perfuração de Precisão</h1>
      <p class="hero__subtitle">
        Líderes em Método Não Destrutivo (MND) para infraestrutura crítica de Saneamento, Telecom e Energia. Eficiência sem obstáculos.
      </p>
    </div>

    <%= link_to 'Contate Nosso Time', '#', class: 'button button--secondary-dark mt--4' %>
  </div>
</div>

<div class="page-container">
  <div class="page-section bg--white">
    <div class="page-section__body">
      <h2 class="page-section__title">Nossa Abordagem: Confiabilidade Técnica</h2>
      <p>Líderes em Método Não Destrutivo (MND) para infraestrutura crítica de Saneamento, Telecom e Energia. Eficiência sem obstáculos.</p>
      <p>Líderes em Método Não Destrutivo (MND) para infraestrutura crítica de Saneamento, Telecom e Energia. Eficiência sem obstáculos.</p>
    </div>

    <div class="page-section__image">
      <img src="images/sketch.png" alt="Engenharia de Perfuração de Precisão">
    </div>  
  </div>

  <div class="page-section bg--primary-brand-light">
    <div class="page-section__body">
      <h2 class="page-section__title">Nossa Abordagem: Confiabilidade Técnica</h2>
      <p>Líderes em Método Não Destrutivo (MND) para infraestrutura crítica de Saneamento, Telecom e Energia. Eficiência sem obstáculos.</p>
      <p>Líderes em Método Não Destrutivo (MND) para infraestrutura crítica de Saneamento, Telecom e Energia. Eficiência sem obstáculos.</p>
    </div>

    <div class="page-section__image">
      <img src="images/sketch.png" alt="Engenharia de Perfuração de Precisão">
    </div>  
  </div>
</div>