secret_key_base: # supplied when credentials are created

development:
  aws_access_key_id: aws_access_key_id
  aws_secret_access_key: aws_secret_access_key
  aws_region: eu-west-2
  aws_bucket: bmx4-development
  postmark_api_key: postmark_api_key
  sentry_dsn: sentry_dsn

test:
  aws_access_key_id: aws_access_key_id
  aws_secret_access_key: aws_secret_access_key
  aws_region: eu-west-2
  aws_bucket: bmx4-test
  postmark_api_key: postmark_api_key
  sentry_dsn: sentry_dsn

staging:
  aws_access_key_id: aws_access_key_id
  aws_secret_access_key: aws_secret_access_key
  aws_region: aws_region
  aws_bucket: aws_bucket
  postmark_api_key: postmark_api_key
  sentry_dsn: sentry_dsn

production:
  aws_access_key_id: aws_access_key_id
  aws_secret_access_key: aws_secret_access_key
  aws_region: aws_region
  aws_bucket: aws_bucket
  postmark_api_key: postmark_api_key
  sentry_dsn: sentry_dsn
