$margin-props: (
  m: margin,
  mt: margin-top,
  mb: margin-bottom,
  mr: margin-right,
  ml: margin-left,
);

@each $name, $prop in $margin-props {
  // Auto

  // .#{$name}--auto {
  //   #{$prop}: auto;
  // }

  // Spacings
  // m--2, -mb--10, ml--8

  @each $key, $var in $spaces {
    .#{$name}--#{$key} {
      #{$prop}: $var;
    }

    // .-#{$name}--#{$key} {
    //   #{$prop}: -$var;
    // }
  }

  // Units
  // m--6px, -mt--8px, -mr--4px

  // @for $i from 1 through 10 {
  //   .#{$name}--#{$i}px {
  //     #{$prop}: #{$i + 'px'};
  //   }

  //   .-#{$name}--#{$i}px {
  //     #{$prop}: #{-$i + 'px'};
  //   }
  }

  // Breakpoint Down - Only on Small Screen

//   @each $key, $var in $spaces {
//     .#{$name}--#{$key}-sm {
//       @include breakpoint-down($medium-screen) {
//         #{$prop}: $var;
//       }
//     }

//     .-#{$name}--#{$key}-sm {
//       @include breakpoint-down($medium-screen) {
//         #{$prop}: -$var;
//       }
//     }
//   }
// }

// Margin Pairs

// $margin-prop-pairs: my margin-top margin-bottom, mx margin-right margin-left;

// @each $name, $prop1, $prop2 in $margin-prop-pairs {
  // Auto

  // .#{$name}--auto {
  //   #{$prop1}: auto;
  //   #{$prop2}: auto;
  // }

  // Spacings
  // mx--2, -my--10

  // @each $key, $var in $spaces {
  //   .#{$name}--#{$key} {
  //     #{$prop1}: $var;
  //     #{$prop2}: $var;
  //   }

    // .-#{$name}--#{$key} {
    //   #{$prop1}: -$var;
    //   #{$prop2}: -$var;
    // }
  // }

  // Units
  // mx--3px, -my--9px

  // @for $i from 1 through 10 {
  //   .#{$name}--#{$i}px {
  //     #{$prop1}: #{$i + 'px'};
  //     #{$prop2}: #{$i + 'px'};
  //   }

  //   .-#{$name}--#{$i}px {
  //     #{$prop1}: #{-$i + 'px'};
  //     #{$prop2}: #{-$i + 'px'};
  //   }
  // }
// }
