$padding-props: (
  p: padding,
  pt: padding-top,
  pb: padding-bottom,
  pr: padding-right,
  pl: padding-left,
);

@each $name, $prop in $padding-props {
  // Spacings
  // p--2, pb--10, pl--8

  @each $key, $var in $spaces {
    .#{$name}--#{$key} {
      #{$prop}: $var;
    }
  }

  // Units
  // p--6px, pt--8px, pr--4px

  // @for $i from 1 through 10 {
  //   .#{$name}--#{$i}px {
  //     #{$prop}: #{$i + 'px'};
  //   }
  // }

  // Breakpoint Down - Only on Small Screen
  // Separate so these override the classes above

  // @each $key, $var in $spaces {
  //   .#{$name}--#{$key}-sm {
  //     @include breakpoint-down($medium-screen) {
  //       #{$prop}: $var;
  //     }
  //   }
  // }
}

// Padding Pairs

// $padding-prop-pairs: py padding-top padding-bottom, px padding-right padding-left;

// @each $name, $prop1, $prop2 in $padding-prop-pairs {
//   // Spacings
//   // py--2, px--10

//   @each $key, $var in $spaces {
//     .#{$name}--#{$key} {
//       #{$prop1}: $var;
//       #{$prop2}: $var;
//     }
//   }

//   // Units
//   // py--8px, px--4px

//   @for $i from 1 through 10 {
//     .#{$name}--#{$i}px {
//       #{$prop1}: #{$i + 'px'};
//       #{$prop2}: #{$i + 'px'};
//     }
//   }

//   // Breakpoint Down - Only on Small Screen
//   // Separate so these override the classes above

//   @each $key, $var in $spaces {
//     .#{$name}--#{$key}-sm {
//       @include breakpoint-down($medium-screen) {
//         #{$prop1}: $var;
//         #{$prop2}: $var;
//       }
//     }
//   }
// }
