@import 'config/config';
@import 'layout/layout';

// components are for (typically) small items used throughout the app, not specific to any single page
@import 'components/components';

// module files are to (typically) be page/partial specific
@import 'onboarding';
@import 'errors';
