.onboarding {
  align-items: center;
  background-color: $background-color-lighter;
  background-image: url('onboarding/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.onboarding__modal {
  background-color: $background-color-lightest;
  box-shadow: $shadow-5;
  margin: $spacing-6;

  @include breakpoint-up($medium-screen) {
    display: flex;
    min-width: 44em;
  }
}

.onboarding__image {
  display: none;

  @include breakpoint-up($medium-screen) {
    background-image: url('onboarding/sidebar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    flex: 0 0 16em;
  }
}

.onboarding__body {
  padding: $spacing-6;
  width: 100%;

  @include breakpoint-up($medium-screen) {
    padding: $spacing-8;
  }
}

.onboarding__forgot-password {
  @include breakpoint-up($medium-screen) {
    text-align: right;
  }
}
