$small-screen: 325px;
$medium-screen: 768px;
$large-screen: 1024px;
$x-large-screen: 1440px;

$screen-sizes: (
  sm: $small-screen,
  md: $medium-screen,
  lg: $large-screen,
  xl: $x-large-screen,
);