// Z-index

$z-index-0: -1;
$z-index-1: 0;
$z-index-2: 10;
$z-index-3: 20;
$z-index-4: 30;
$z-index-5: 40;
$z-index-6: 50;

$z-indexes: (
  0: $z-index-0,
  1: $z-index-1,
  2: $z-index-2,
  3: $z-index-3,
  4: $z-index-4,
  5: $z-index-5,
  6: $z-index-6,
);

// Postion Directions

$position-directions: (
  center: center,
  top: top,
  top-right: top right,
  right: right,
  bottom-right: bottom right,
  bottom: bottom,
  bottom-left: bottom left,
  left: left,
  top-left: top left,
);

// Min & Max

$norm-min-max: '', 'min-', 'max-';
