$shadow-1: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-2: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-3: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-4: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-5: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-6: 0 25px 50 -12px rgba(0, 0, 0, 0.25);

$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
$shadow-outline: 0 0 0 3px rgba($blue-300, 0.5);

$shadows: (
  1: $shadow-1,
  2: $shadow-2,
  3: $shadow-3,
  4: $shadow-4,
  5: $shadow-5,
  6: $shadow-6,
  inner: $shadow-inner,
  outline: $shadow-outline,
);
