$spacing-0: 0em;
$spacing-1: 0.125em;
$spacing-2: 0.25em;
$spacing-3: 0.5em;
$spacing-4: 0.6666em;
$spacing-5: 0.75em;
$spacing-6: 1em;
$spacing-7: 1.5em;
$spacing-8: 2em;
$spacing-10: 2.5em;
$spacing-12: 3.5em;
$spacing-16: 4em;
$spacing-20: 6em;

$spaces: (
  0: $spacing-0,
  1: $spacing-1,
  2: $spacing-2,
  3: $spacing-3,
  4: $spacing-4,
  5: $spacing-5,
  6: $spacing-6,
  7: $spacing-7,
  8: $spacing-8,
  10: $spacing-10,
  12: $spacing-12,
  16: $spacing-16,
  20: $spacing-20,
);
