@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;600;700&display=swap");
/** File containing scss specific to the project
  For example:
  $account-invited: $yellow-400;
  $account-accepted-invitation: $green-400;
  $account-partial-profile: $red-400;
  $account-completed-profile: $blue-400;

  $account-state-colors: (
    invited: $account-invited,
    accepted_invitation: $account-accepted-invitation,
    partial_profile: $account-partial-profile,
    completed_profile: $account-completed-profile,
  );

  $availability-booked: $yellow-100;
  $availability-available: $green-200;
  $availability-unavailable: $red-200;
  $availability-standby: $blue-200;

  $availability-type-colors: (
    availability-booked: $availability-booked,
    availability-available: $availability-available,
    availability-unavailable: $availability-unavailable,
    availability-standby: $availability-standby,
  );

  $scene-notification-icons: (
    scene-notif-drafted: '\f5ae', // pencil-ruler
    scene-notif-uploaded: '\f007', // user
    scene-notif-registered: '\f2f7', // shield-check
    scene-notif-syndicated: '\e047', // ufo
    scene-notif-purchased: '\f38a', // credit-card-front
  );
*/
.banner {
  background-color: #a4e4ef;
  border-radius: 5px;
  display: flex;
  color: #206f84;
  padding: 1em;
  margin: 1em 0;
}

.banner--warning {
  background-color: #fef9c3;
  color: #a16207;
}

.table-button th,
.table-button td {
  border: none;
  padding: 0;
}

.td-button {
  background-color: #33a6bd;
  border-radius: 5px;
  font-family: "Outfit", "Open Sans", "Roboto", sans-serif;
}

.button,
a.button {
  /* property name | duration | easing function */
  transition: 300ms ease;
  transition-property: background-color, border-color, color;
  will-change: background-color, border-color, color;
  background-color: #33a6bd;
  border: 1px solid #33a6bd;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Outfit", "Open Sans", "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  flex: 0 0 auto;
  letter-spacing: -0.025em;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  padding: 0.5em 0.6666em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  vertical-align: middle;
  white-space: normal;
}
.button:active, .button:focus, .button:hover,
a.button:active,
a.button:focus,
a.button:hover {
  background-color: #206f84;
  border-color: #206f84;
  color: #fff;
}

.button--success,
a.button--success {
  background-color: #4ade80;
  border: 2px solid #4ade80;
  color: #fff;
}

.button--stroke,
a.button--stroke {
  background-color: transparent;
  border: 2px solid #33a6bd;
  color: #33a6bd;
}

.button--small,
a.button--small {
  font-size: 0.8888888889em;
  padding: 0.25em 0.5em;
}

.email-table__table {
  border-collapse: collapse;
  border-radius: 5px;
  border-spacing: 0;
  box-sizing: border-box;
  font-feature-settings: "kern", "liga", "tnum";
  font-variant-numeric: tabular-nums;
  overflow: hidden;
  width: 100%;
}
.email-table__table td,
.email-table__table th,
.email-table__table tr {
  vertical-align: middle;
}
.email-table__table td a,
.email-table__table th a,
.email-table__table tr a {
  cursor: pointer;
}
.email-table__table tr {
  background-color: #fff;
  color: #0f172b;
}
.email-table__table tr:nth-child(odd) {
  background-color: #f8fafc;
}
.email-table__table tr + tr {
  border-top: 1px solid #cad5e3;
}
.email-table__table th {
  background-color: #e1e8f0;
  border-bottom: 1px solid #cad5e3;
  color: #45556c;
  font-size: 0.8888888889em;
  font-weight: 600;
  padding: 0.875em 0.6666em 0.75em 0.6666em;
  text-align: left;
  text-transform: uppercase;
}
.email-table__table th a {
  color: #0f172b;
}
.email-table__table td {
  color: #45556c;
  hyphens: auto;
  overflow-wrap: break-word;
  padding: 0.6666em 0.6666em;
  white-space: normal;
  word-wrap: break-word;
}
.email-table__table .total-row {
  background-color: #e1e8f0;
  font-weight: 600;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.email-wrapper {
  background-color: #fff;
  border-top: 5px solid #33a6bd;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 0 auto;
  max-width: 1024px;
  width: calc(100% - 1em);
}

.email-content {
  padding: 0 1.5em;
}

.email-body {
  color: #000;
}

.email-table {
  border: none;
  font-family: "Outfit", "Open Sans", "Roboto", sans-serif;
  width: 100%;
}

.content-cell {
  padding: 1em 0;
}

p {
  margin: 0.6666em 0;
}

blockquote {
  border-left: 5px solid #33a6bd;
  color: #324158;
  font-style: italic;
  margin-left: 0;
  padding: 0.125em 0.6666em;
}
blockquote cite {
  display: block;
  font-size: 0.8888888889em;
  margin-top: 0.6666em;
}

.email-header,
.email-footer {
  color: #fff;
  font-family: "Outfit", "Open Sans", "Roboto", sans-serif;
  padding: 1.5em 0;
}

.email-header__logo {
  display: block;
  height: 4em;
  margin: auto;
}

.email-footer {
  color: #45556c;
  font-size: 0.7901234568em;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;
}

h4 {
  font-size: 1.125em;
}

h3 {
  font-size: 1.265625em;
}

h2 {
  font-size: 1.423828125em;
}

h1 {
  font-size: 1.6018066406em;
}

#outlook a {
  padding: 0;
}

body {
  -webkit-text-size-adjust: none;
}

.m--0 {
  margin: 0em;
}

.m--1 {
  margin: 0.125em;
}

.m--2 {
  margin: 0.25em;
}

.m--3 {
  margin: 0.5em;
}

.m--4 {
  margin: 0.6666em;
}

.m--5 {
  margin: 0.75em;
}

.m--6 {
  margin: 1em;
}

.m--7 {
  margin: 1.5em;
}

.m--8 {
  margin: 2em;
}

.m--10 {
  margin: 2.5em;
}

.m--12 {
  margin: 3.5em;
}

.m--16 {
  margin: 4em;
}

.m--20 {
  margin: 6em;
}

.mt--0 {
  margin-top: 0em;
}

.mt--1 {
  margin-top: 0.125em;
}

.mt--2 {
  margin-top: 0.25em;
}

.mt--3 {
  margin-top: 0.5em;
}

.mt--4 {
  margin-top: 0.6666em;
}

.mt--5 {
  margin-top: 0.75em;
}

.mt--6 {
  margin-top: 1em;
}

.mt--7 {
  margin-top: 1.5em;
}

.mt--8 {
  margin-top: 2em;
}

.mt--10 {
  margin-top: 2.5em;
}

.mt--12 {
  margin-top: 3.5em;
}

.mt--16 {
  margin-top: 4em;
}

.mt--20 {
  margin-top: 6em;
}

.mb--0 {
  margin-bottom: 0em;
}

.mb--1 {
  margin-bottom: 0.125em;
}

.mb--2 {
  margin-bottom: 0.25em;
}

.mb--3 {
  margin-bottom: 0.5em;
}

.mb--4 {
  margin-bottom: 0.6666em;
}

.mb--5 {
  margin-bottom: 0.75em;
}

.mb--6 {
  margin-bottom: 1em;
}

.mb--7 {
  margin-bottom: 1.5em;
}

.mb--8 {
  margin-bottom: 2em;
}

.mb--10 {
  margin-bottom: 2.5em;
}

.mb--12 {
  margin-bottom: 3.5em;
}

.mb--16 {
  margin-bottom: 4em;
}

.mb--20 {
  margin-bottom: 6em;
}

.mr--0 {
  margin-right: 0em;
}

.mr--1 {
  margin-right: 0.125em;
}

.mr--2 {
  margin-right: 0.25em;
}

.mr--3 {
  margin-right: 0.5em;
}

.mr--4 {
  margin-right: 0.6666em;
}

.mr--5 {
  margin-right: 0.75em;
}

.mr--6 {
  margin-right: 1em;
}

.mr--7 {
  margin-right: 1.5em;
}

.mr--8 {
  margin-right: 2em;
}

.mr--10 {
  margin-right: 2.5em;
}

.mr--12 {
  margin-right: 3.5em;
}

.mr--16 {
  margin-right: 4em;
}

.mr--20 {
  margin-right: 6em;
}

.ml--0 {
  margin-left: 0em;
}

.ml--1 {
  margin-left: 0.125em;
}

.ml--2 {
  margin-left: 0.25em;
}

.ml--3 {
  margin-left: 0.5em;
}

.ml--4 {
  margin-left: 0.6666em;
}

.ml--5 {
  margin-left: 0.75em;
}

.ml--6 {
  margin-left: 1em;
}

.ml--7 {
  margin-left: 1.5em;
}

.ml--8 {
  margin-left: 2em;
}

.ml--10 {
  margin-left: 2.5em;
}

.ml--12 {
  margin-left: 3.5em;
}

.ml--16 {
  margin-left: 4em;
}

.ml--20 {
  margin-left: 6em;
}

.p--0 {
  padding: 0em;
}

.p--1 {
  padding: 0.125em;
}

.p--2 {
  padding: 0.25em;
}

.p--3 {
  padding: 0.5em;
}

.p--4 {
  padding: 0.6666em;
}

.p--5 {
  padding: 0.75em;
}

.p--6 {
  padding: 1em;
}

.p--7 {
  padding: 1.5em;
}

.p--8 {
  padding: 2em;
}

.p--10 {
  padding: 2.5em;
}

.p--12 {
  padding: 3.5em;
}

.p--16 {
  padding: 4em;
}

.p--20 {
  padding: 6em;
}

.pt--0 {
  padding-top: 0em;
}

.pt--1 {
  padding-top: 0.125em;
}

.pt--2 {
  padding-top: 0.25em;
}

.pt--3 {
  padding-top: 0.5em;
}

.pt--4 {
  padding-top: 0.6666em;
}

.pt--5 {
  padding-top: 0.75em;
}

.pt--6 {
  padding-top: 1em;
}

.pt--7 {
  padding-top: 1.5em;
}

.pt--8 {
  padding-top: 2em;
}

.pt--10 {
  padding-top: 2.5em;
}

.pt--12 {
  padding-top: 3.5em;
}

.pt--16 {
  padding-top: 4em;
}

.pt--20 {
  padding-top: 6em;
}

.pb--0 {
  padding-bottom: 0em;
}

.pb--1 {
  padding-bottom: 0.125em;
}

.pb--2 {
  padding-bottom: 0.25em;
}

.pb--3 {
  padding-bottom: 0.5em;
}

.pb--4 {
  padding-bottom: 0.6666em;
}

.pb--5 {
  padding-bottom: 0.75em;
}

.pb--6 {
  padding-bottom: 1em;
}

.pb--7 {
  padding-bottom: 1.5em;
}

.pb--8 {
  padding-bottom: 2em;
}

.pb--10 {
  padding-bottom: 2.5em;
}

.pb--12 {
  padding-bottom: 3.5em;
}

.pb--16 {
  padding-bottom: 4em;
}

.pb--20 {
  padding-bottom: 6em;
}

.pr--0 {
  padding-right: 0em;
}

.pr--1 {
  padding-right: 0.125em;
}

.pr--2 {
  padding-right: 0.25em;
}

.pr--3 {
  padding-right: 0.5em;
}

.pr--4 {
  padding-right: 0.6666em;
}

.pr--5 {
  padding-right: 0.75em;
}

.pr--6 {
  padding-right: 1em;
}

.pr--7 {
  padding-right: 1.5em;
}

.pr--8 {
  padding-right: 2em;
}

.pr--10 {
  padding-right: 2.5em;
}

.pr--12 {
  padding-right: 3.5em;
}

.pr--16 {
  padding-right: 4em;
}

.pr--20 {
  padding-right: 6em;
}

.pl--0 {
  padding-left: 0em;
}

.pl--1 {
  padding-left: 0.125em;
}

.pl--2 {
  padding-left: 0.25em;
}

.pl--3 {
  padding-left: 0.5em;
}

.pl--4 {
  padding-left: 0.6666em;
}

.pl--5 {
  padding-left: 0.75em;
}

.pl--6 {
  padding-left: 1em;
}

.pl--7 {
  padding-left: 1.5em;
}

.pl--8 {
  padding-left: 2em;
}

.pl--10 {
  padding-left: 2.5em;
}

.pl--12 {
  padding-left: 3.5em;
}

.pl--16 {
  padding-left: 4em;
}

.pl--20 {
  padding-left: 6em;
}

.color--primary {
  color: #33a6bd;
}

.color--primary-light {
  color: #a4e4ef;
}

.color--primary-lighter {
  color: #d5f1f8;
}

.color--primary-dark {
  color: #206f84;
}

.color--primary-darker {
  color: #15394a;
}

.color--secondary {
  color: #3ca4af;
}

.color--secondary-light {
  color: #ade2ea;
}

.color--secondary-lighter {
  color: #d8eff5;
}

.color--secondary-dark {
  color: #266d74;
}

.color--secondary-darker {
  color: #183942;
}

.color--tertiary {
  color: #3ba3c8;
}

.color--tertiary-light {
  color: #aae3f2;
}

.color--tertiary-lighter {
  color: #d7f1f9;
}

.color--tertiary-dark {
  color: #0074ac;
}

.color--tertiary-darker {
  color: #173553;
}

.color--lightest {
  color: #fff;
}

.color--lighter {
  color: #e1e8f0;
}

.color--light {
  color: #90a3b9;
}

.color--base {
  color: #45556c;
}

.color--dark {
  color: #324158;
}

.color--darker {
  color: #0f172b;
}

.color--darkest {
  color: #000;
}

.color--success-lightest {
  color: #f0fdf4;
}

.color--success-lighter {
  color: #dcfce7;
}

.color--success-light {
  color: #bbf7d0;
}

.color--success {
  color: #4ade80;
}

.color--success-dark {
  color: #16a34a;
}

.color--success-darker {
  color: #166534;
}

.color--information-lightest {
  color: #f0f9ff;
}

.color--information-lighter {
  color: #bae6fd;
}

.color--information-light {
  color: #7dd3fc;
}

.color--information {
  color: #0ea5e9;
}

.color--information-dark {
  color: #0284c7;
}

.color--information-darker {
  color: #075985;
}

.color--warning-lightest {
  color: #fefce8;
}

.color--warning-lighter {
  color: #fef9c3;
}

.color--warning-light {
  color: #fef08a;
}

.color--warning {
  color: #facc15;
}

.color--warning-dark {
  color: #a16207;
}

.color--warning-darker {
  color: #854d0e;
}

.color--danger-lightest {
  color: #fdeded;
}

.color--danger-lighter {
  color: #fcdada;
}

.color--danger-light {
  color: #f9b5b5;
}

.color--danger {
  color: #ef4444;
}

.color--danger-dark {
  color: #e71414;
}

.color--danger-darker {
  color: #800b0b;
}

.font-size--0 {
  font-size: 1em;
}

.-font-size--0 {
  font-size: 1em;
}

.font-size--1 {
  font-size: 1.125em;
}

.-font-size--1 {
  font-size: 0.8888888889em;
}

.font--light {
  font-weight: 300;
}

.font--normal {
  font-weight: 400;
}

.font--semibold {
  font-weight: 600;
}

.font--bold {
  font-weight: 700;
}

.text--italic {
  font-style: italic;
}

.text--underline {
  text-decoration: underline;
}

a,
input.link,
.link,
a.link {
  /* property name | duration | easing function */
  transition: 300ms ease;
  transition-property: color;
  will-change: color;
  color: #33a6bd;
  text-decoration: none;
}
a:active, a:focus, a:hover,
input.link:active,
input.link:focus,
input.link:hover,
.link:active,
.link:focus,
.link:hover,
a.link:active,
a.link:focus,
a.link:hover {
  color: #206f84;
}

.link--danger,
input.link--danger,
a.link--danger {
  color: #ef4444;
}

.link--warning-dark,
input.link--warning-dark,
a.link--warning-dark {
  color: #a16207;
}

.link--grey,
input.link--grey,
a.link--grey {
  color: #45556c;
}

.link--cell {
  display: block;
  padding: 0.75em 1em;
}
