<%= simple_form_for(resource, as: resource_name, url: registrations_path, html: { class: 'page-sections' }) do |f| %>
  <div class="page-section">
    <div class="form-sidebar hidden--lg-down">
      <div class="form-sidebar__section">
        <div>
          <h4 class="page-sidebar__title">Personal Information</h4>
          <p>Manage the information associated with your account.</p>
        </div>
      </div>
    </div>

    <div class="form-main">
      <div class="form-main__section">
        <div class="form__body">
          <div class="form__inputs">
            <%= f.input :name, label: 'Full Name', required: true, wrapper_html: { class: 'form__input--s2-m2-l6' }, icon_wrapper_html: { class: 'input-field--symbol fa-regular fa-user' } %>
            <%= f.input :email, label: 'Email Address', required: true, wrapper_html: { class: 'form__input--s2-m2-l6' }, icon_wrapper_html: { class: 'input-field--symbol fa-regular fa-envelope' } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section page-section--actions">
    <div class="form__actions form__actions--section">
      <%= f.submit 'Update Profile', class: 'button button--success' %>
    </div>
  </div>
<% end %>
