name: Continuous Integration
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: test
      RACK_ENV: test
      NODE_ENV: test
    steps:
      - uses: actions/checkout@v4
      - name: Install native dependencies
        run: |
          sudo apt-get install -y build-essential libc-dev libffi-dev tzdata postgresql-client libpq-dev imagemagick git
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        id: ruby
        with:
          ruby-version: 3.1.3
      - uses: actions/setup-node@v4
        with:
          node-version: '16.x'
      - name: Cache gems
        uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Install gems
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Cache yarn packages
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install yarn packages
        run: |
          yarn --pure-lockfile
  prettier:
    name: Prettier
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache yarn packages
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install modules
        run: yarn  --pure-lockfile
      - name: Run prettier
        run: ./node_modules/prettier/bin-prettier.js ./app/javascript --check --config ./prettier.config.js
  rubocop:
    name: Rubocop
    needs: build
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: test
      RACK_ENV: test
      NODE_ENV: test
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install native dependencies
        run: |
          sudo apt-get install -y build-essential libc-dev libffi-dev tzdata postgresql-client libpq-dev imagemagick git
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        id: ruby
        with:
          ruby-version: 3.1.3
      - uses: actions/setup-node@v4
        with:
          node-version: '16.x'
      - name: Cache gems
        uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Install gems
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Cache yarn packages
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install yarn packages
        run: |
          yarn --pure-lockfile
      - name: Run rubocop
        run: |
          bundle exec rubocop $(git diff origin/master origin/$GITHUB_HEAD_REF --name-only --diff-filter=d) --parallel --force-exclusion -c ./.rubocop.yml
