<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag 'email' %>
  </head>

  <body>
    <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td>
          <table class="email-content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
              <%# Email Header %>
              <tr>
                <td>
                  <table class="email-header" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                      <th>
                        <img src="https://bmx4-production.s3.eu-west-2.amazonaws.com/public/logo_full.png" width="auto" height="64" alt='BMX4 Logo' class="email-header__logo">
                      </th>
                    </tr>
                  </table>
                </td>
              </tr>

              <%# Email Body %>
              <tr>
                <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
                  <table class='email-table'>
                    <tr>
                      <td class="content-cell">
                        <%# Mailer Content %>
                        <%= yield %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <%# Email Footer %>
              <tr>
                <td>
                  <table class="email-footer" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                      <td>
                        <div>&copy; <%= Time.new.year %> BMX4 All Rights Reserved.</div>
                        <div><%= link_to 'Notification Settings', '#', class: 'link--grey text--underline' %></div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
